<div id="seccionmedia">
  <div class="row">
    <div class="large-6 columns">
     <i class="fi-megaphone size-330"></i>
    </div>
    <div class="large-6 columns">
    <h1>Hola Mundo!</h1>
    </div>
  </div>
</div>