<div class="cabecera">
	
  <h1> <i class="icon-linux icon-2x"></i><p>Luigi Guerreros</p></h1>
  <div id="navegador">
  
   <i class="icon-off icon-large"></i>
   <i class="icon-globe"></i>
   <i class="icon-github"></i>
   <i class="icon-facebook-sign"></i>
   <i class="icon-twitter-sign"></i>
   <i class="icon-youtube-sign"></i>
   <i class="icon-linkedin-sign"></i>
  </div>
  <div id="facebook">
    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
  </div>
</div>
