// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  .cabecera {
    padding-top: 10px;
    h1 {
      text-align: center;
      margin-bottom: 20px;
      p {
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }

  #navegador {
    text-align: center;
    margin-bottom: 30px;
  }

  #facebook {
    text-align: center;
    margin: 10px;
  }
}